body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    height: 100vh;

    background-color: azure;
}